<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797497517919-p7svj2dkgvu57rnkq5v16a45a18apdpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797497517919-p7svj2dkgvu57rnkq5v16a45a18apdpr</string>
	<key>API_KEY</key>
	<string>AIzaSyCe_aBQyyh3gZm9YyH46jmDkZ8ulCGde48</string>
	<key>GCM_SENDER_ID</key>
	<string>797497517919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com-katsuya-tamai.Twitter-Clone</string>
	<key>PROJECT_ID</key>
	<string>kt-twitter</string>
	<key>STORAGE_BUCKET</key>
	<string>kt-twitter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797497517919:ios:538121af96d2a957bb38ea</string>
	<key>DATABASE_URL</key>
	<string>https://kt-twitter.firebaseio.com</string>
</dict>
</plist>