<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444836294489-3j1qq0h8v1jjuimjbdlig2qelp9s8c3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444836294489-3j1qq0h8v1jjuimjbdlig2qelp9s8c3v</string>
	<key>API_KEY</key>
	<string>AIzaSyCIAbMx3uleOW_rprchU9uCZin_9zun53c</string>
	<key>GCM_SENDER_ID</key>
	<string>444836294489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com-katsuya-tamai.Twitter-Clone</string>
	<key>PROJECT_ID</key>
	<string>first-firebase-kt</string>
	<key>STORAGE_BUCKET</key>
	<string>first-firebase-kt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444836294489:ios:9bf99ebcfef190d5dc6648</string>
	<key>DATABASE_URL</key>
	<string>https://first-firebase-kt.firebaseio.com</string>
</dict>
</plist>